/* common properities */

:root {
  --my-red: #da2128;
  --red-light: #e66b6f;
  --red-dark: #c31d23;
  --my-white: #ffffff;
  --my-black: #0a0a0a;
  --my-gray: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.button {
  background-color: var(--my-red);
  color: var(--my-white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 25px;
  border: 3px solid var(--my-red);
  border-radius: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button:hover {
  background-color: var(--my-white);
  color: var(--my-red);
  border: 3px solid var(--my-red);
}

.section-padding {
  padding-top: 30px;
}

.content-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1600px; /* max width for extra large device */
}

@media (max-width: 400px) {
  .content-container {
    /* all content is left and right aligned, margins 20px */
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

/* title & navigation */
.navigation-section {
  background-color: var(--my-red);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navigation-menu {
  color: var(--my-white);
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-title {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}

.main-title a {
  text-decoration: none;
  color: var(--my-white);
  font-size: 32px;
}

.menu {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  text-decoration: none;
  color: var(--my-white);
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  display: flex;
  margin-bottom: auto;
}

.menu-item a:hover {
  color: var(--my-black);
}

.menu-icon-container {
  display: none;
}

.menu-icon-container i {
  color: var(--my-white);
  font-size: 22px;
}

@media (max-width: 665px) {
  .navigation-menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    width: 180px;
    background-color: var(--my-red);
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 2;
  }
  .menu-item {
    display: block;
  }
  .menu-icon-container {
    display: block;
  }
}

@media (min-width: 666px) {
  .navigation-menu {
    display: block !important;
  }
}

/* search place */
.section-title {
  padding-bottom: 20px;
}

.search-form {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  /* border: 2px solid blue; */
}

form input[type="text"] {
  border-radius: 25px;
  border: 2px solid var(--my-black);
  height: 50px;
  width: 450px;
  max-width: calc(100% - 20px);
  font-size: 20px;
  text-align: center;
}

form input[type="text"]:focus {
  border: 2px solid var(--my-red);
}

form input[type="submit"] {
  height: 50px;
}

.input-and-search {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .input-and-search {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search-form img {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 20px;
  top: 12.5px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  width: 600px;
  max-width: 100%;
  margin-top: 10px;
}

.tag-checkbox {
  display: none;
}

.tag-button2 {
  background-color: var(--my-white);
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid var(--my-black);
  cursor: pointer;
}

/* .tag-button2:checked {
  background-color: var(--my-red);
  border: 2px solid var(--my-red);
  color: var(--my-white);
} */
