* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

/*HERO*/
.hero {
  position: relative;
  text-align: left;
  color: white;
  background-image: url(img/homepage2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 420px;
}
.hero-text {
  position: absolute;
  margin-top: 60px;
}
.hero-text h1 {
  font-size: 45px;
  margin-bottom: 10px;
  width: 350px;
}
.hero-text p {
  font-size: 16px;
  width: 680px;
  margin-bottom: 20px;
}
/*Co vám doma přibývá?*/
.choice-box {
  text-align: center;
}
.choice-box h2 {
  font-size: 27px;
}
.choice-box {
  margin-top: 25px;
  margin-bottom: 25px;
}
.level-one-boxes {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 25px;
}
.box img {
  width: 80px;
  margin-bottom: 15px;
}
.box-text h3 {
  margin-bottom: 10px;
}
.box-text p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
/*newsletter*/
.newsletter {
    background-color: var(--my-red);
    color: var(--my-white);
    height: 160px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.newsletter-form {
    margin-bottom: 25px;
}
.newsletter-form label {
    font-size: 18px;
}
.newsletter-form input {
    border-radius: 25px;
    border: none;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    height: 50px;
    width: 450px;
    font-size: 20px;
    text-align: center;
}
.email_news {
    margin-left: 15px;
}
.button-news {
    margin-left: 15px;
    background-color: var(--my-white);
    color: var(--my-red);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1900px ) {
    .hero {
        height: 650px;
    }
    .hero-text {
        position: absolute;
        margin-top: 90px;
    }
    .hero-text h1 {
        font-size: 60px;
        margin-bottom: 10px;
        width: 480px;
    }
    .hero-text p {
        font-size: 23px;
        width: 820px;
        margin-bottom: 25px;
    }
}
