/* common properities */

:root {
  --my-red: #da2128;
  --red-light: #e66b6f;
  --red-dark: #c31d23;
  --my-white: #ffffff;
  --my-black: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.button {
  background-color: var(--my-red);
  color: var(--my-white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-padding {
  padding-top: 100px;
}

.content-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1600px; /* max width for extra large device */
}

@media (max-width: 400px) {
  .content-container {
    /* all content is left and right aligned, margins 20px */
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

/* title & navigation */
.navigation-section {
  background-color: var(--my-red);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navigation-menu {
  color: var(--my-white);
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-title {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}

.main-title a {
  text-decoration: none;
  color: var(--my-white);
  font-size: 32px;
}

.menu {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  text-decoration: none;
  color: var(--my-white);
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-item a:hover {
  color: var(--my-black);
}

/* search place */
.section-title {
  padding-bottom: 20px;
}

.search-form {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

form input[type="search"] {
  border-radius: 25px;
  border: 1px solid var(--my-black);
  height: 50px;
  width: 450px;
}

form input[type="submit"] {
  background-color: var(--my-red);
  color: var(--my-white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
